$center_width: 750px;
$page_bg: #ccc;
$center_bg: white; 
$text_color: #6D6344;
$glow_color: white;
$glow_size: 50px;
$wtf_top: -75px;
* {
  margin: 0;
  padding: 0;
}
html, body {
  
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
  font-family: 'Droid Sans', sans-serif;
  color: $text_color;
}
#title{
  position:relative;
  bottom: 82px;
  left: 122px;
  z-index: 1000;
  cursor: pointer;
}
#center {
  position: relative;
  padding: 0;
  margin: 0 auto;
  width: $center_width;
  height: 100%;
  min-height: 100%;
  background: $center_bg;
  border-width: 0px 1px;
  border-style: solid;
  border-color: white;
  box-shadow: 0px 0px $glow_size $glow_color;
  margin-top: 150px;
  margin-bottom: 300px;
}
#map-holder {
  width: $center_width;
  height: 430px;
  top:-100px;
  margin-bottom:0px;
}
input[type='text'] {
  border-radius: 10px;
  padding: 8px;
  width: 25%;
  outline: none;
  margin-bottom: 30px;
}
#report-list li {
  list-style-type: none;
  overflow: hidden;
  background: white;
  border-bottom: 2px solid #79C;
  cursor: pointer;
  img {
    width: 100px;
    vertical-align: middle;
    padding: 20px;
  }
  &:hover {
    background: #EEE;
  }
  a {
    text-decoration: none;
    color: #666;
  }
}
#index-search-holder {
  padding-left: 40px;
  position: relative;
  top: $wtf_top;
}
#report-list {
  position: relative;
  top: $wtf_top;
}
button {
  padding: 10px;
  border-radius: 10px;
}
