<script id="report_list_item" type="text/html">
  <li id='report{{id}}' class='report' data-id='{{id}}' data-latitude='{{latitude}}' data-longitude='{{longitude}}'>
<img src="http://maps.googleapis.com/maps/api/streetview?size=175x100&location={{latitude}},%20{{longitude}}&sensor=false&key=AIzaSyD7MeJFEMlMvJ4-a5DWs9_hKGnP30IlhuQ" />
    <%= button_tag '+', :class => 'upvote' %>
    <a href="/reports/{{id}}">{{ title }}</a>
    <span class='score'>
      {{score}}
    </span>
</li>
</script>
