Reports:
<ul id='report-list' class='index'>
<% @reports.each do |report| %>
  <li class='report' data-latitude='<%= report.latitude %>' data-longitude='<%= report.longitude %>'> <%= link_to report.title, report %> </li>
<% end %>
</ul>
