<script id="report_list_item" type="text/html">
<li class='report' data-latitude='{{latitude}}' data-longitude='{{longitude}}'>
<img src="http://maps.googleapis.com/maps/api/streetview?size=175x100&location={{latitude}},%20{{longitude}}&sensor=false&key=AIzaSyD7MeJFEMlMvJ4-a5DWs9_hKGnP30IlhuQ" />
    <a href="/report/{{id}}">{{ title }}</a>
      {{score}}
</li>
</script>
