<div id='index' class='page-container'>

  <div id='map-container'>
    <div id='map-holder' data-latitude="<%= @coords[:latitude] %>" data-longitude="<%= @coords[:longitude] %>">
    
      <ul id='report-list' class='index'></ul>
    </div>
  </div>
  <div id='index-search-holder' class='input-holder'>
    <label for='search'>Search by name:</label>
    <input type='text' id='search' />
    <button id='search-submit'>submit</button>
    <button id='refresh-results'>refresh</button>
    <label for='recenter'>Center map to:</label>
    <input type='text' id='recenter' placeholder="address,zip,etc"/>
    <button id='recenter-map'>Go</button>
  </div>
  <div id='report-list'>
  </div>
</div>
<script type="text/javascript">
  var wtf_text = $('<div/>').html('<%= @reports.to_json %>').text();
  initial_list_items = JSON.parse(wtf_text);
</script>
<%= render :partial => 'report_list' %>
