<body>
  <p><%= @report.title %></p>
  <p>Location: <%= @report.address %> </p>
  <% if @report.description %>
    <p>Description: <%= @report.description %>
  <% end %>
  <!-- > Placeholder for map that lists only location of current event </!-->
</body>