<!DOCTYPE html>
<html>
  <head>
    <title>Vigilanswers</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7MeJFEMlMvJ4-a5DWs9_hKGnP30IlhuQ&sensor=true"></script>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css' />
    <%= csrf_meta_tags %>
  </head>
<body>
    <div id='center'>
      <%= yield %>
    </div>
</body>
</html>
